.editor-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #060606;
  grid-column-gap: 10px;
  height: 320px;
}

.app-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 320px auto;
}

.iframe-container {
  border-top: 1px solid #3c3c3c;
}
